/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



/* root colors */
:root { 
  --black: #1b1c1d;
  --white: #f9fdff;
  --primary: #256EFF;
  --secondary: #d72638;
}

/* <-----text-----> */
/* title */
.title {
  font-weight: bold;
  font-size: 30px;
}

/* inputs */
.input {
  background: none;
  outline: none !important;
  padding: 6px 10px;
  flex: 1;
}
.input__container, .filter__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 8px;
  opacity: 0.75;
  max-height: 40px;
}
.input__label {
  font-size: 16px;
  font-weight: bolder;
}

.filter__container {
  border-radius: 25px;
  padding: 5px !important;
}
.filter__input {
  background: none;
  outline: none !important;
  flex: 1;
}

/* file input */
.file__input__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.file__input {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #b8b8b8;
}
.file__input__btn {
    display: inline-block;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 6px;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* buttons */
.button {
  width: 100%;
  border-radius: 10px;
  transition: transform 450ms;
  padding: 8px 20px;
}
.button:hover {
  transform: scale(1.06);
}


/* icons */
.sidebar__icon {
  margin-right: 5px;
}